@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

/* SELECTION */

::selection {
  background: #f59e0b;
  color: black;
}

/* SMOOTH */

* {
  transition-property:
    color,
    background-color,
    border-color,
    opacity,
    transform;
}

/* READER IMAGE */

.reader-page {
  image-rendering: auto;
  user-select: none;
}

/* GLASS EFFECT */

.glass {
  background: rgba(24, 24, 27, 0.7);
  backdrop-filter: blur(20px);
}

/* HIDE SCROLLBAR */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}