@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #F8F5EF;
  color: #1f2937;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F3EEE6;
}

::-webkit-scrollbar-thumb {
  background: #C8B28D;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8B5E34;
}

::selection {
  background: #D6A84A;
  color: white;
}

* {
  transition-property:
    color,
    background-color,
    border-color,
    opacity,
    transform;
}

.glass {
  background: rgba(255,255,255,.75);
  backdrop-filter: blur(20px);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}